//Example usage here: https://github.com/antfu-collective/sponsorkit/tree/main/example
//These are being fed from github actions context. Just for demostration purposes.
SPONSORKIT_GITHUB_TOKEN=
SPONSORKIT_GITHUB_LOGIN=